/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <350>;
    require-prior-idle-ms = <125>;
    retro-tap;
    quick-tap-ms = <125>;
    flavor = "tap-preferred";
};

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans  &kp SEMICOLON   &kp COMMA           &kp PERIOD      &kp P             &kp Y         &kp F    &kp G              &kp C            &kp R                &kp L            &trans
&trans  &mt LEFT_WIN A  &mt LEFT_CONTROL O  &mt LEFT_ALT E  &mt LEFT_SHIFT U  &kp I         &kp D    &mt RIGHT_SHIFT H  &mt RIGHT_ALT T  &mt RIGHT_CONTROL N  &mt RIGHT_WIN S  &trans
&trans  &kp SQT         &kp Q               &kp J           &kp K             &kp X         &kp B    &kp M              &kp W            &kp V                &kp Z            &trans
                                            &kp TAB         &lt 1 BACKSPACE   &kp DELETE    &kp RET  &lt 3 SPACE        &kp ESCAPE
            >;
        };

        Symbols {
            bindings = <
&trans  &kp LS(PLUS)  &kp LBKT      &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp LS(AMPS)    &kp EQUAL     &kp LS(RPAR)    &kp LS(RBRC)  &kp RIGHT_BRACKET  &kp LS(STAR)  &trans
&trans  &kp N1        &kp N2        &kp N3          &lt 2 NUMBER_4        &kp N5          &kp N6        &lt 2 NUMBER_7  &kp N8        &kp N9             &kp N0        &trans
&trans  &kp LS(PIPE)  &kp LS(DLLR)  &trans          &trans                &trans          &kp LS(EXCL)  &kp BSLH        &kp MINUS     &kp FSLH           &kp LS(AT)    &trans
                                    &trans          &trans                &trans          &kp ENTER     &kp SPACE       &kp ESCAPE
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans     &trans         &trans  &trans  &trans    &trans         &trans         &trans         &trans         &trans         &trans
&trans  &trans     &trans         &trans  &trans  &trans    &trans         &trans         &trans         &trans         &trans         &trans
&trans  &kp GRAVE  &kp LS(TILDE)  &trans  &trans  &trans    &kp LS(PRCNT)  &kp LS(POUND)  &kp LS(UNDER)  &kp LS(QMARK)  &kp LS(CARET)  &trans
                                  &trans  &trans  &trans    &trans         &trans         &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &kp F1    &kp F2      &kp F3             &kp F4           &kp F5                  &kp F6     &kp F7      &kp F8            &kp F9      &kp F10  &trans
&trans  &kp HOME  &kp K_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_BRIGHTNESS_INC    &kp PG_UP  &kp K_PREV  &kp K_PLAY_PAUSE  &kp K_NEXT  &kp F11  &trans
&trans  &kp END   &kp DEL     &kp LEFT           &kp RIGHT        &kp C_BRIGHTNESS_DEC    &kp PG_DN  &kp UP      &kp DOWN          &trans      &kp F12  &trans
                              &trans             &trans           &trans                  &trans     &trans      &trans
            >;
        };
    };
};
